.container-cards {
    width: 100%;
    min-height: 100vh;
    color: #FFF;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 30px;
}

.card-item {    
    width: 28%;
    min-height: 400px;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: 1px 1px 23px rgba(93, 9, 97, 0.87);
    border-radius: 7px;
    transition: .5s;
}

.card-item:hover {
    transform: scale(1.1);
}

.card-item img {
    width: 80%;
    border-radius: 7px;
}