.hero {
    width: 100%;
    text-align: center;
    color: #fff;
}

.hero-title {
    font-size: 6vmax;
}

.hero-text {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;    
}

.arrow {
    position: relative;
    top: 2px;
    left: 4px;
}

.btn:hover .arrow {
    animation: arrow .5s infinite;
}
